<%= form_for(@casa) do |f| %>
  <% if @casa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@casa.errors.count, "error") %> prohibited this casa from being saved:</h2>

      <ul>
      <% @casa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha, end_year: 1915, start_year: 2005 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
