<!DOCTYPE html>
<html lang="es">
	<head>
	<meta charset="UTF-8">
		<title>Conquistachile</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<nav class="navbar" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span><%= icon('bars')%></span>
						</button>
						<a class="navbar-brand" href="http://www.conquistachile.cl">Conquista Chile</a>
					</div>
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="http://www.conquistachile.cl/">Inicio</a></li>
							<li><a href="http://www.conquistachile.cl/reglamento.html">Reglamento</a></li>
							<li><a href="http://conquistachile.herokuapp.com/">Incripciones</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
